source/.vs/myCSharpToolBox/v14/.suo
source/ConsoleApplication1/obj
*.bin
*.obj
*.exe
source/ConsoleApplication1/bin/
*.dat
source/_ReSharper.Caches
source/packages/
source/Multithreading/obj
source/Multithreading/bin
source/Reflection/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
source/Reflection/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
source/Reflection/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
source/Reflection/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
source/.vs/myCSharpToolBox/v15/.suo
*.ide
source/Math/bin/Debug/MathHelper.dll
source/Math/bin/Debug/MathHelper.pdb
source/Math/obj/Debug/MathHelper.dll
source/Math/obj/Debug/MathHelper.pdb
source/Math/obj/Debug/TempPE/Rollover.Rollover.cs.dll
*.pdb
source/Reflection/obj/Debug/Reflection.dll
source/Math/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
source/Math/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
source/Math/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
source/Math/obj/Debug/MathHelper.csproj.FileListAbsolute.txt
source/Reflection/bin/Debug/Reflection.dll
source/Reflection/obj/Debug/Reflection.csproj.FileListAbsolute.txt
